

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  html {
    border: 0;
    padding: 0;
    width: 100%;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 100%;
  }

  /* Page Container */

  .page-container {
    padding: 20px;
  }
  
  .container {
    width: 100%;
    min-width: 100%;
    display: flex;
    /* min-height: 100vh; */
    background-color: white;
    margin: 0;
    padding: 0;

  }

  
  /* Main Content */
  .main-content {   
    
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f8f8f8;
    border-radius: 20px;
  }
  
  /* Header */
  .header {
    display: flex;
    
    flex: 0 0 auto;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;  
    position: relative;
    
  }
  
  .header-left{
    /* float: left; */
  }
  .header-right {
    /* display: flex; */
    /* float: right; */
  }
  .header-right .btn-gradient {
   
    background: linear-gradient(135deg, #6c63ff 0%, #8963ff 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    transition: background 0.3s ease;
  }
  
  .header-right .btn-gradient:hover {
    background: linear-gradient(135deg, #5144a3 0%, #6854d4 100%);
  }
  
 
  .page-title h3{
    font-size: 38px !important;
    font-weight: 700 !important;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    text-wrap: nowrap;
  }
  
  .page-title .highlight {
    color: #6c63ff;
  }
  
    
  /* Footer */
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: sticky;
    bottom: 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    text-align: right;
  }
  
/* modify layout */
  .h-row{
    display: flex;
    gap: 30px;
    
  }



  /* Elements */



