<div class="sidebar-header">
    <h2>Framify Beta</h2>
  </div>
  <ul class="sidebar-menu">
    <li><button  class="btn-gradient " >Documentation</button></li>
    <li><a href="#">Premium Websites</a></li>
    <li><a href="#">PRO Components</a></li>
    <li><a href="#">Starter Pages</a></li>
  </ul>
  <div class="sidebar-footer">
    <button class="membership-btn">Access Membership</button>
    <ul class="sidebar-links">
      <li><button  class="btn-gradient " style="color: white;">Documentation</button></li>
      <li><a href="#">Content Support</a></li>
      <li><a href="#">General Questions</a></li>
      <li><a href="#">Framify Affiliate</a></li>
    </ul>
  </div>
  