/* Buttons */

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  outline: none;
  box-shadow: none;
  border: none;
}

.gradient {
  background: linear-gradient(to left, #652ee9, #c75afe);
  color: white;
  /* border: #f5f5f5 1px solid;   */
}

.secondary {
  background-color: #f8f8f8;
  border: #f1f1f1 1px solid;
}

.icon-btn {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  color: #333;
}

/* section spliter */
.section-spliter {
  display: flex;
  align-items: center;
  font-size: small !important;
}
.line {
  width: 100%;
  /* min-width: 300px; */
  /* max-width: 400px; */
  height: 2px;
  background-color: #f1f1f1;
  /* margin-left: 20px;
  margin-right: 20px; */
}
.line2 {
  width: 100%;
  /* min-width: 200px; */
  /* max-width: 400px; */
  height: 2px;
  background-color: #172155;
  
}

/* Search Bar */

.btn-search {
  position: absolute;
  right: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  color: #979797;
  width: 100%;
  /* max-width: 500px; */
  min-width: 411px;
  /* border-radius: 20px; */
}

.search-bar input {
  width: 100%;
  padding: 15px 20px;
  
  background-color: #f8f8f8;
  border-radius: 20px;
  border: #f5f5f5 solid 1px;
  outline: none;
  font-size: 14px;
}

.search-bar input:active {
  outline: none;
}

/* tags */
.tags {
  margin-bottom: 20px;
}

.tag-btn {
  /* background-color: #f1f1f1; */
  background-color: white;
  color: #333;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  border: 1px #cacaca solid;
  display: inline-block;
  border-radius: 20px;
}

.tag-btn.active {
  background-color: #6c63ff;
  color: #fff;
}

.tag-btn:hover {
  background-color: #ddd;
}

/* Card Grid */

.card {
  background-color: white;
  padding: 10px;

  border-radius: 30px;
  height: 300px;
  margin: 5px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.text-gradient {
  font-size: 48px; /* Adjust font size as needed */
  background: linear-gradient(to left, #652ee9, #c75afe);
  -webkit-background-clip: text; /* For webkit browsers */
  -webkit-text-fill-color: transparent; /* For webkit browsers */
  background-clip: text; /* For non-webkit browsers */
  color: transparent; /* Fallback for non-supporting browsers */
}

.main-head {
  display: flex;
  align-items: center;
  /* width: 100%; */
}

/* Tabs */

.tab {
  display: inline-block;
  padding: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
}
.tabs {
  min-width: 270px;
  padding: 5px;
  background-color: white;
  border-radius: 40px;
  margin: 0;
}


/* Load More Button */

.btn-load {
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

/* Gap */
.gap {
    height: 20px;
}


/* images */

.image-container {
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
}

.framer-image {
  width: 100% !important;
  /* height: 100%; */
  /* fill: cover; */
}

/* badge */
.badge {
  border-radius: 30px;
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  background-color: #00072b;
}
/* svg */

.svg-container {
    width: 18px;
    height: 18px;
    display: inline-block;
    /* align-items: center; */
}

.svg-header-container {
    width: 24px;
    height: 24px;
    display: inline-block;
}

/* responsive */


@media screen and (max-width: 1200px) {
    .sidebar-menu span {
        display: none;
    }
    .sidebar-header span {
        display: none;
    }
    .section-spliter p {
        display: none;
    }
    .membership-btn span{
        display: none;
    }
    .main-head {
        display: block;
    }
    
}

@media screen and (max-width: 900px) {
    .search-bar input {
        width: 100%;
        
    }
    .search-bar {
        max-width: 100% !important;
        width: 100%;
    }
    .header-left {
        width: 100%;
    }
    .header-right {
        display: none;
    }
}