 
    
  /* Footer */
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;    
    align-items: center;     
    animation: smooth 0.5s ease-in;   
  }
  
  .footer a {
    color: #000;
    text-decoration: none;
    
  }
  
  .footer a:hover {
    text-decoration: none;
    color: #5144a3;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }

  .footer-left {
    display: flex;
    gap: 10px;
    align-items: center;

  }